<!doctype html>

<html lang="en">

<head>
    <title>Visualization of SQL Queries</title>
    <meta name="description" content="Visualization of SQL Queries">
    <meta name="author" content="Cody Dunne">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css">
</head>

<script>
    window.onload = function () {
        var preview = "{{preview}}";
        console.log(preview);
        if (preview == 'False') {
            localStorage.setItem('worker_id', '{{worker_id}}');
            localStorage.setItem('assignment_id', '{{assignment_id}}');
            localStorage.setItem('hit_id', '{{hit_id}}');
            console.log("Set worker_id:", localStorage.getItem('worker_id'),
                "assignment_id:", localStorage.getItem('assignment_id'), "hit_id:",
                localStorage.getItem('hit_id'));
        }
    };
</script>

<body>
    <div id="instructions_div">
        <form id="instructions_form">

            {% if preview == True %}
            <p style="text-align:center"><strong>
                    <font color="red" size="10">THIS IS A PREVIEW!</font>
                </strong></p>
            <p><strong>The preview below provides you with the full instructions of the HIT</strong></p><br>
            {% endif %}

            <!------------------------------- RESEARCH ------------------------------->
            <p><strong>
                    <font size="4">Northeastern University, Khoury College of Computer Sciences</font>
                </strong></p>
            <p><strong>Names of Investigators:</strong><span style="font-weight: 400;"> Cody Dunne, Wolfgang Gatterbauer, Mirek Riedewald</span></p>
            <p><strong>Title of Project:</strong><span style="font-weight: 400;"> Visualizing Database Queries</span></p>
            <p><strong>Request to participate in research:</strong>
                <span style="font-weight: 400;"> We would like to invite you to participate in a web-based online study.
            </p>
            <p><strong>Qualifications:</strong> We are asking you to participate in this study because you are <u>experienced
                    with using SQL</u> and are at least <u>18 years old</u>.
            </p>
            <p><strong>Key Information</strong>
            <ul>
                <li>Your consent is being sought for participation in a research project and your participation is voluntary.</li>
                <li>The purpose of this study is to compare the effectiveness of a visual metaphor in helping users understand SQL vs.
                    alternatives (e.g., formatted SQL text).</li>
                <li><strong>Time required:</strong> This study is expected to take about <u>25 minutes</u>
                    to complete (including qualification test) with a maximum limit of
                    <u>65 minutes</u> (15 minutes for the qualification and 50 minutes for the main study) and no limit for the tutorial except the HIT expiration time of <u>120 minutes</u>. We have also included an embedded countdown timer
                    to display the amount of time remaining. The timer can be found at the top left of the test window once the test starts.
                    <strong><u>We highly recommend that you take the test in one sitting with your browser
                            window maximized for better readability.</u></strong>
                </li>
                <li>
                    The procedures that you will be asked to complete include a pre-study qualification test, reading a tutorial, and
                    answering questions about the plain-English results of SQL queries and visual representations. You need to answer at least <u>3/6 questions correctly</u> in our SQL
                    comprehension test to qualify for the hit.
                </li>
                <li>
                    There are no foreseeable risks or discomforts to you for taking part in this study.
                </li>
                <li>
                    There are no direct benefits to you for participating in the study.
                </li>
            </ul>
            </p>
            <p><strong>Participation: </strong>
                The decision to participate in this study is voluntary. You do not have to participate, and you can refuse
                to answer any question. Even if you begin the web-based online study, you can stop at any time.
                There are no foreseeable risks or discomforts to you for taking part in this study.
            </p>
            <p><strong>HIT acceptance criteria:</strong>
                You need to answer at least <strong><u>16 out of the 32 questions correctly</u></strong>
                Your evaluation is done automatically, but your HIT acceptance and bonus assignment may take up to
                <u>48 hours</u> to process.
            </p>
            <p><strong>Payment: </strong>
                You will be paid a base pay of <u>$5.00</u>. You will receive a bonus <u>$0.20 for each correct answer</u>
                after the first 16 for a total pay of <u>$8.20</u>. If you complete the main part of the study within <u>14 minutes </u>
                you will get a <u>5% bonus</u> for a maximum pay of <u>$8.61</u>. Each minute
                faster gets you an additional <u>5% bonus</u> up to <u>35% for 8
                    minutes</u>, with a maximum pay of <u>$11.07.</u>

                Note that the above times only apply for answering questions, not including tutorial or any other
                miscellaneous portions (so you can take your time on those other portions without affecting your payout).
                <br> <br>
                Once you submit your answer for a question you will get immediate feedback on whether the answer is right or wrong,
                and the correct answer will be indicated.
            </p>
            <p><strong>Anonymity:</strong>
                Your part in this study is anonymous to the requesters. However, because of the nature of web based studies,
                it is possible that respondents could be identified by the IP address or other electronic record associated with the response.
                Neither the researcher nor anyone involved with this study will be capturing those data. Any reports or publications
                based on this research will use only group data and will not identify you or any individual as being affiliated with this project.
                The only individually-identifying data we receive from Mechanical Turk are your unique identifier and your country. Your data
                are also stored on Mechanical Turk's servers, and the data there are subject to the Amazon Mechanical Turk Privacy Notice
                and Participation Agreement.
            </p>
            <p><strong>Your de-Identified Information could be used for future tests without additional informed consent.</strong></p>
            <p><strong>If you have any questions about:</strong></p>

            <p><strong>...electronic privacy,</strong> contact Northeastern University's Office of Information Security via phone at 617-373-7901,
                or via email at <a href="mailto:privacy@northeastern.edu">privacy@northeastern.edu</a>.</p>

            <p><strong>...this study,</strong> contact Cody Dunne (<a href="mailto:c.dunne@northeastern.edu" )>c.dunne@northeastern.edu</a>), the Principal Investigator and the person mainly responsible for this reasearch.</p>

            <p><strong>...your rights as a research participant,</strong> contact the
                Human Subject Research Protection, Mail Stop: 560-177, 360 Huntington
                Avenue, Northeastern University, Boston, MA 02115. Tel: 617.373.4588,
                Email: <a href="mailto:IRBReview@northeastern.edu">IRBReview@northeastern.edu</a>. You may call anonymously if you
                wish.</p>

            <p><strong>This study has been reviewed and approved by the Northeastern
                    University Institutional Review Board (# 19-03-01 -- MOD#1 Approved: 01/13/2023).</strong></p>

            </span>

            <p>
                <strong>By clicking on the "accept" button below you are indicating that you consent to participate in this study.</strong>
                Please print out a copy of this consent form for your records.
            </p>
            <p>
                Thank you for your time,
                <br>
                Cody Dunne, Wolfgang Gatterbauer, Mirek Riedewald
            </p>




            {% if preview == False %}
            <div style="text-align: center;">
                <button type="button" id="instructions_submitButton">Accept and Proceed to Tutorial</button></p>
            </div>
            {% endif %}
        </form>
    </div>
</body>

<script>
    // Redirect the user to the tutorial route
    $('#instructions_submitButton').click(function () {
        console.log("User acknowledged that s/he read the instructions and clicked to proceed");
        window.location.href = "{{ url_for('tutorial', workerId=worker_id, assignmentId=assignment_id, hitId=hit_id, nextSection=True) | safe }}";
    });

</script>

</html>