<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Visualization of SQL Queries</title>
  <meta name="description" content="Visualization of SQL Queries">
  <meta name="author" content="Cody Dunne">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script>
    history.pushState(null, document.title, location.href);
    window.addEventListener('popstate', function (event) {
      history.pushState(null, document.title, location.href);
    });
  </script>
</head>

<!-- Scripts to include  -->
<script src="js/globals.js"></script>
<script src="js/question.js"></script>
<script src="js/time.js"></script>

<!-- Set the mode  -->
<script>
  window.onload = function () {

    // Throw away extra arguments
    let params = new URLSearchParams(location.search);
    params.delete('nextSection');
    history.replaceState(null, '', '?' + params + location.hash);

    let t_question_num = {{ current_page | tojson | safe
  }};
  // Can't do directly w/o goofy jinja issue
  question_num = t_question_num;
  console.log('question_num' + question_num)
  load_next_question();

  window.static_folder = "{{url_for('static', filename='')}}";

  // Start the timer
  start_timer();

  // Set Progress bar
  apply_progress_changes();

  CountDown.Start({{ time_remaining_ms | tojson | safe}});
  };
</script>


</script>


<body>
  <div id="wrapper">
    <div id="content">

      <div class="question_div">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;font-size:13px;text-align: center">
            <strong>Question X / X</strong>
          </div>
        </div>
        <div id=countdown_div>Time remaining: <span id="countdown">00:00</span> minutes</div><br>
        <div class="question_div_mid">
          <img class="stimuli_img" src="" id="stimuli_img" alt="Stimuli image" />
        </div>
      </div>

      <div class="questions_form_div">
        <form method="POST" id="questions_form">
          <label for="Q1">
            <input type="radio" id="Q1" value="1" name=choice />
            <span class="wrappable" id="Q_label_1"></span>
          </label><br>
          <label for="Q2">
            <input type="radio" id="Q2" value="2" name=choice />
            <span class="wrappable" id="Q_label_2"></span>
          </label><br>
          <label for="Q3">
            <input type="radio" id="Q3" value="3" name=choice />
            <span class="wrappable" id="Q_label_3"></span>
          </label><br>
          <label for="Q4">
            <input type="radio" id="Q4" value="4" name=choice />
            <span class="wrappable" id="Q_label_4"></span>
          </label><br>
          <input type="button" value="Submit" id=submit_answer></input>
        </form>
        <br>
        <p hidden style="color: red;" id='radio_selection_warning'>You must choose one of the 4 options to proceed!</p>
      </div>
    </div>

    <div id=pdf_links_banner>
      <a target="_blank" style="margin-right:10px;" href="{{url_for('static', filename='documents/tutorial/tutorial.pdf')}}">Tutorial (PDF)</a>
      <!-- <a target="_blank" href="{{url_for('static', filename='documents/vizsummary.pdf')}}">Visualization Summary (PDF)</a> -->
    </div>
  </div>


</body>

<script>
  // Function is called either when user clicks to submit an answer or when the click for the next question
  $('#submit_answer').click(function () {
    if (checking_answer) {
      // Ensure that a radio button is selected
      if (!radio_is_checked()) {
        console.log('No radio button was selected')
        return;
      }

      console.log("Submitted an answer for question", question_num);

      // Check the user's answer and record the time in the database
      check_answer();
      checking_answer = false;

      // Pause the timer
      CountDown.Pause();
    }
    else {
      // Check if we are on the last question, and if so redirect the user to the demographics section
      if (question_num >= total_num_questions) {
        console.log("Questions completed, user has submitted the last question.");
        window.location.href = "{{ url_for('results', workerId=worker_id, assignmentId=assignment_id, hitId=hit_id, nextSection=True) | safe }}";
        return;
      }

      // Increment the question number
      question_num++;
      console.log("New question number is", question_num);

      // Load the next question
      load_next_question();

      var questions_form = $('#questions_form');

      // Update progress bar
      apply_progress_changes();

      $('#questions_form')[0].reset();

      // Start recording the time when the user starts the new question
      new_question_start_time();

      // Unpause the timer
      CountDown.Resume();

      // Change the status of check answer
      checking_answer = true;
    }
  });

  function apply_progress_changes() {
    let val = (question_num - 1) / total_num_questions;
    $('.progress-bar').attr('aria-valuenow', String(val));
    $('.progress-bar').css('width', String(val * 95 + 5) + "%");// inaccurate, but ensures question 1 labe is shown
    $('.progress-bar').text("Question " + String(question_num) + " / " + String(total_num_questions));
  }

  // Countdown timer
  var CountDown = (function ($) {
    // Length ms 
    var TimeOut = 10000;
    // Interval ms
    var TimeGap = 1000;

    var CurrentTime = (new Date()).getTime();
    var EndTime = (new Date()).getTime() + TimeOut;

    var GuiTimer = $('#countdown');

    var Running = true;

    var UpdateTimer = function () {
      // Run till timeout
      if (CurrentTime + TimeGap < EndTime) {
        setTimeout(UpdateTimer, TimeGap);
      }
      // Countdown if running
      if (Running) {
        CurrentTime += TimeGap;
        if (CurrentTime >= EndTime) {
          GuiTimer.css('color', 'red');
        }
      }
      // Update Gui
      var Time = new Date();
      Time.setTime(EndTime - CurrentTime);
      var Minutes = Time.getMinutes();
      var Seconds = Time.getSeconds();

      GuiTimer.html(
        (Minutes < 10 ? '0' : '') + Minutes
        + ':'
        + (Seconds < 10 ? '0' : '') + Seconds);
    };

    var Pause = function () {
      Running = false;
    };

    var Resume = function () {
      Running = true;
    };

    var Start = function (Timeout) {
      TimeOut = Timeout;
      CurrentTime = (new Date()).getTime();
      EndTime = (new Date()).getTime() + TimeOut;
      UpdateTimer();
    };

    return {
      Pause: Pause,
      Resume: Resume,
      Start: Start
    };
  })(jQuery);

</script>

</html>