<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Visualization of SQL Queries</title>
  <meta name="description" content="Relational Diagrams User Study">
  <meta name="author" content="Cody Dunne">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script>
    history.pushState(null, document.title, location.href);
    window.addEventListener('popstate', function (event) {
      history.pushState(null, document.title, location.href);
    });
  </script>
</head>

<!-- Scripts to include  -->
<script src="js/globals.js"></script>
<script src="js/question.js"></script>
<script src="js/time.js"></script>

<!-- Set the mode  -->
<script>
  window.onload = function () {

    // Throw away extra arguments
    let params = new URLSearchParams(location.search);
    params.delete('nextSection');
    history.replaceState(null, '', '?' + params + location.hash);

    let t_question_num = {{ current_page | tojson | safe
  }};
  // Can't do directly w/o goofy jinja issue
  question_num = t_question_num;
  console.log('question_num' + question_num)
  load_next_question();

  window.static_folder = "{{url_for('static', filename='')}}";

  // Start the timer
  start_timer();

  // Set Progress bar
  apply_progress_changes();

  CountDown.Start(50 * 60 * 1000);
  };
</script>


</script>


<body>
  <div id="wrapper">
    <div id="content">

      <div class="question_div">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;font-size:13px;text-align: center">
            <strong>Question X / X</strong>
          </div>
        </div>
        <div id=countdown_div>Time remaining: <span id="countdown">00:00</span> minutes</div><br>
        <div class="question_div_mid">
          <img src="" id="stimuli_img" alt="Stimuli image" />
        </div>
      </div>

      <div class="questions_form_div">
        <form method="POST" id="questions_form">
          <label for="Q1">
            <input type="radio" id="Q1" value="1" name=choice />
            <span class="wrappable" id="Q_label_1"></span>
          </label><br>
          <label for="Q2">
            <input type="radio" id="Q2" value="2" name=choice />
            <span class="wrappable" id="Q_label_2"></span>
          </label><br>
          <label for="Q3">
            <input type="radio" id="Q3" value="3" name=choice />
            <span class="wrappable" id="Q_label_3"></span>
          </label><br>
          <label for="Q4">
            <input type="radio" id="Q4" value="4" name=choice />
            <span class="wrappable" id="Q_label_4"></span>
          </label><br>
          <input type="button" value="Submit" id=submit_answer></input>
        </form>
        <br>
        <p hidden style="color: red;" id='radio_selection_warning'>You must choose one of the 4 options to proceed!</p>
      </div>
    </div>

    <div id=pdf_links_banner>
      <a target="_blank" style="margin-right:10px;" href="{{url_for('static', filename='documents/tutorial.pdf')}}">Tutorial (PDF)</a>
      <!-- <a target="_blank" href="{{url_for('static', filename='documents/vizsummary.pdf')}}">Visualization Summary (PDF)</a> -->
    </div>
  </div>


</body>

<script>
  // Function is called either when user clicks to submit an answer or when the click for the next question
  $('#submit_answer').click(function () {
    if (checking_answer) {
      // Ensure that a radio button is selected
      if (!radio_is_checked()) {
        console.log('No radio button was selected')
        return;
      }

      console.log("Submitted an answer for question", question_num);

      // Once user submits an answer display both the SQL and QV graph regardless of the current mode
      // $('.sql_query_div').show();
      // display_queryvis_img();

      // Check the user's answer and record the time in the database
      check_answer();
      checking_answer = false;

      // Pause the timer
      CountDown.Pause();
    }
    else {
      // Check if we are on the last question, and if so redirect the user to the demographics section
      if (question_num >= total_num_questions) {
        console.log("Test completed, user has submitted the last question.");
        window.location.href = "/demographics";
        return;
      }

      // Increment the question number
      question_num++;
      console.log("New question number is", question_num);

      // // Update mode accordingly based on the sequence_num assigned to this worker
      // update_current_mode();
      // // apply_mode();
      // console.log("The new mode is:", current_mode);

      // // Define default sources for html and images
      // schema_src = "{{url_for('static', filename='questions/1/schema.html')}}";
      // sql_src = "{{url_for('static', filename='questions/1/query.html')}}";

      // Load the next question
      load_next_question();

      //TODO: HOW to read the questions properly and concisely? 
      // Update the question choices (there must be a better way to get the question_choices but concatenation doesn't work again ... :( )
      var questions_form = $('#questions_form');
      // var label_ids = ["#Q1_label", "#Q2_label", "#Q3_label", "#Q4_label"];
      // for (i = 0; i < label_ids.length; i++) {
      //   text_val = question_choices[(question_num - 1) * num_question_choices + i];
      //   $(label_ids[i]).html(text_val);
      // }

      // Update progress bar
      apply_progress_changes();

      $('#questions_form')[0].reset();

      // Start recording the time when the user starts the new question
      new_question_start_time();

      // Unpause the timer
      CountDown.Resume();

      // Change the status of check answer
      checking_answer = true;
    }
  });

  // // Prints out all the question choices in Jinja2 format
  // function question_choices_arr_creator() {
  //   {% raw %}
  //   question_choices = [];
  //   num_questions = 12;
  //   choices = ['a', 'b', 'c', 'd'];
  //   for (i = 1; i <= num_questions; i++) {
  //     for (j = 0; j < choices.length; j++) {
  //       var val = "{{questions.Q" + i.toString() + "." + choices[j] + "}}";
  //       question_choices.push(val);
  //     }
  //   }
  //   {% endraw %}
  //   return question_choices;
  // }

  // // Set the initial current_mode according to the user sequence_num
  // function initialize_current_mode() {
  //   if (sequence_num == 0 || sequence_num == 1) {
  //     current_mode = 1;
  //   }
  //   else if (sequence_num == 2 || sequence_num == 3) {
  //     current_mode = 2;
  //   }
  //   else if (sequence_num == 4 || sequence_num == 5) {
  //     current_mode = 3;
  //   }
  //   return current_mode;
  // }

  // // Update the current_mode according to the user sequence_num
  // function update_current_mode() {
  //   var seq_1 = [1, 2];
  //   var seq_2 = [2, 1];
  //   var seq_list = [seq_1, seq_2];

  //   var idx = seq_list[sequence_num].indexOf(current_mode);
  //   if (idx == 2) {
  //     current_mode = seq_list[sequence_num][0];
  //   }
  //   else {
  //     current_mode = seq_list[sequence_num][idx + 1];
  //   }
  // }

  function apply_progress_changes() {
    let val = (question_num - 1) / total_num_questions;
    $('.progress-bar').attr('aria-valuenow', String(val));
    $('.progress-bar').css('width', String(val * 95 + 5) + "%");// inaccurate, but ensures question 1 labe is shown
    $('.progress-bar').text("Question " + String(question_num) + " / " + String(total_num_questions));
  }

  function display_queryvis_img() {
    $("#queryviz_img").remove();
    queryviz_img_src = "{{url_for('static', filename='img/q1.svg')}}"
    queryviz_img_src = queryviz_img_src.replace("1", question_num.toString());
    $('.queryviz_img').prepend('<img src="" id = "queryviz_img" alt = "queryviz_img">');
    var queryviz_img = $('#queryviz_img');
    queryviz_img[0].src = queryviz_img_src;
  }

  // Countdown timer
  var CountDown = (function ($) {
    // Length ms 
    var TimeOut = 10000;
    // Interval ms
    var TimeGap = 1000;

    var CurrentTime = (new Date()).getTime();
    var EndTime = (new Date()).getTime() + TimeOut;

    var GuiTimer = $('#countdown');

    var Running = true;

    var UpdateTimer = function () {
      // Run till timeout
      if (CurrentTime + TimeGap < EndTime) {
        setTimeout(UpdateTimer, TimeGap);
      }
      // Countdown if running
      if (Running) {
        CurrentTime += TimeGap;
        if (CurrentTime >= EndTime) {
          GuiTimer.css('color', 'red');
        }
      }
      // Update Gui
      var Time = new Date();
      Time.setTime(EndTime - CurrentTime);
      var Minutes = Time.getMinutes();
      var Seconds = Time.getSeconds();

      GuiTimer.html(
        (Minutes < 10 ? '0' : '') + Minutes
        + ':'
        + (Seconds < 10 ? '0' : '') + Seconds);
    };

    var Pause = function () {
      Running = false;
    };

    var Resume = function () {
      Running = true;
    };

    var Start = function (Timeout) {
      TimeOut = Timeout;
      CurrentTime = (new Date()).getTime();
      EndTime = (new Date()).getTime() + TimeOut;
      UpdateTimer();
    };

    return {
      Pause: Pause,
      Resume: Resume,
      Start: Start
    };
  })(jQuery);

</script>

</html>